/*Zeroing out*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body._locked {
  overflow: hidden;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 500;
}
/*--------------------*/

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: "Comfortaa";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #102746;
}
img {
  max-width: 100%;
  height: auto;
}

/* header styles start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s linear;
  padding-bottom: 20px;
  z-index: 9;
}
.header__logo {
  width: 220px;
  height: 80px;
}
.header__active {
  background: #0e1d28;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 56px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 70px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-size: 25px;
  line-height: 24px;
  color: #fff;
  transition: 0.3s;
  position: relative;
}
.header__link::after {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 28px;
  left: 0;
  content: "";
  opacity: 0;
  transition: 0.3s ease;
}

.header__link:hover:after {
  opacity: 1;
}

.header__link.active:after {
  opacity: 1;
}

.header__bottom {
  font-size: 25px;
  line-height: 24px;
  transition: 0.3s all;
  position: relative;
  color: #0e1d28;
  background-color: #cfbc11;
  padding: 15px;
  border-radius: 10px;
}
.header__bottom:hover,
.header__bottom:focus,
.header__bottom:active {
  color: #ffffffc8;
  background-color: #000000;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}
.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.burger__line_first {
  top: 0;
}
.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line_third {
  bottom: 0;
}

/* header styles end */

/* intro styles start */
.intro {
  min-height: 100vh;
  background: url(../img/img-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 200px;
}

.intro__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 22px;
}
.intro__subtitle {
  max-width: 650px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: #ffffff;
  margin-bottom: 59px;
}
/* intro razdolnaya */
.intro__wrapper-r {
  width: 100%;
  padding: 20px;
  background-color: #fff;
}
.wrapper__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.intro__price {
  color: #000000;
  margin: 30px 30px 0 0;
  font-size: 25px;
  font-weight: 700;
}
.information {
  margin: 40px 0px 40px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.intro__subtitle-black {
  margin: 30px 0px 0px 25px;
  color: #000000;
  font-size: 22px;
}
.information__item {
  padding: 15px;
}
.information__thumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.information__pic {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.fridge {
  width: 120px;
  height: 80px;
}
.container__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 40px;
}
.container__card {
  grid-column: span 1;
  position: relative;
  overflow: hidden;
}
.container__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.container__card:hover .container__item {
  transform: scale(1.05);
}
.container__item {
  transition: 0.15s all;
}
.container__pic {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.wrapper__text {
}
.wrapper__text-title {
  font-size: 22px;
  margin-bottom: 20px;
}
.wrapper__text-list {
  margin-bottom: 30px;
}
.wrapper__text-item {
  font-size: 22px;
  margin-bottom: 10px;
}
.wrepper__text-text {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}
.wrapper__bottom {
  margin-top: 35px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* popup start */
._modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  pointer-events: none;
}

._modal._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.modal-body {
  padding: 24px;
  background-color: #fff;
  margin: auto;
  display: grid;
  overflow: auto;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 5px;
  cursor: pointer;
}
.close {
  font-size: 25px;
}

.img-popup {
  width: 900px;
  height: 650px;
  object-fit: cover;
}

/* popup end */
/* intro styles end */
/* places style start */

.places__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}
.places__card {
  position: relative;
  overflow: hidden;
}
.places__card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.262);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places__card:hover .places__card-pic {
  transform: scale(1.05);
}
.places__card-title {
  font-size: 45px;
  line-height: 60px;
  color: #ffffff;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}
.places__card_size_lg {
  grid-column: span 3;
}

.places__card-pic {
  width: 100%;
  transition: 0.15s all;
}
.places__card-pic-lg {
  height: 354px;
  object-fit: cover;
}
.places__card-pic-mg {
  height: 283px;
  object-fit: cover;
}
.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
/* places style end */
/* footer style start */
.footer {
  background: #0e1d28;
  padding: 80px 0;
}
.footer__item {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__item {
  padding-right: 30px;
}
.footer__item:last-child {
  padding-right: 0;
}
.footer__link {
  height: 30px;
  font-size: 25px;
  color: #fff;
  transition: 0.3s all;
}
.footer__link:hover,
.footer__link:focus,
.footer__link:active {
  opacity: 0.7;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__social-link {
  padding-right: 30px;
  margin-top: 90px;
  color: #fff;
  font-size: 20px;
  transition: 0.3s all;
}
.footer__social-link:hover,
.footer__social-link:focus,
.footer__social-link:active {
  opacity: 0.7;
}
.footer__logo-pic {
  width: 260px;
  height: 160px;
}
/* footer style end */
/* mods start */
.black-title {
  font-size: 55px;
  color: #000000;
  margin: 30px 0px 0px 30px;
}
/* mods end */
@media screen and (max-width: 1072px) {
  .header__item {
    margin-right: 25px;
  }
  .information__pic {
    width: 50px;
  }
  .fridge {
    width: 80px;
  }
  .information__item {
    padding: 10px;
  }
}
@media screen and (max-width: 937px) {
  .header__logo {
    display: none;
  }
  .header__wrapper {
    justify-content: center;
  }
  .intro {
    padding-top: 160px;
    padding-bottom: 90px;
  }
  .intro__title {
    font-size: 45px;
    line-height: 45px;
  }
  .intro__subtitle {
    font-size: 20px;
    line-height: 25px;
  }
  .footer__item {
    margin: auto;
  }
  .information {
    margin: 40px 0px 40px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .information__text {
    text-align: center;
  }
  .black-title {
    font-size: 40px;
  }
  .intro__subtitle-black {
    margin: 12px 0px 0px 25px;

    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    justify-content: end;
  }
  .header__burger {
    display: block;
  }
  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.3s all linear;
  }
  .header__nav_active {
    transform: translateX(0);
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__item:last-child {
    margin-bottom: 0;
  }
  .header__link {
    font-size: 42px;
    line-height: 100px;
  }
  .header__link::after {
    top: 45px;
  }
  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 11;
  }
  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
  }
  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  .wrapper__title {
    display: block;
  }
  .intro__price {
    margin: 12px 0px 0px 30px;
  }
  .information {
    margin: 15px 0px 20px 0px;
  }
  .container__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .img-popup {
    height: 350px;
  }
}

@media screen and (max-width: 719px) {
  .footer__logo {
    margin: 0 auto;
  }
  .footer__nav {
    margin: 0 auto;
  }
}
@media screen and (max-width: 676px) {
  .intro__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 7px;
  }
  .intro__subtitle {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .intro {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  .footer__link {
    font-size: 17px;
  }
  .footer__item {
    padding-right: 10px;
  }
  .places__card-title {
    font-size: 28px;
  }
  .header__bottom {
    font-size: 18px;
  }
  .header__link {
    font-size: 28px;
  }
}
@media screen and (max-width: 510px) {
  .information {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 418px) {
  .wrapper__bottom a {
    margin-top: 10px;
  }
  .places__card-title {
    font-size: 22px;
  }
  .container__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
